@font-face {
  font-family: "neon";
  src: url("fonts/NEON\ GLOW-Hollow-Inverse.otf");
}

@font-face {
  font-family: "pixel";
  src: url("fonts/neon_pixel-7.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  font-family: Verdana, Arial, Geneva, Tahoma, sans-serif;
  background-color: black;
}

p.title {
  display: none;
  font-size: 50px;
  margin-bottom: 20px;
  box-shadow: inset 0px -4px 0px 0px #000000, inset 0px 3px 0px 0px #000000;
}

.border {
  border: 2px solid #9181c9;
  border-image: linear-gradient(90deg, #3993e4, #9181c9, #e96ead) 30;
}
.gradient {
  background-image: linear-gradient(90deg, #3993e4, #9181c9, #e96ead);
  background-color: #9181c9;
}

.transparent {
  color: black;
  background-size: 100%;
  font-family: neon;
  margin: 0;
}

span {
  box-shadow: inset 0px 0px 0px 0.3px #000000;
}

.num {
  border: 2px solid #1186ae;
  border-image: linear-gradient(90deg, cyan, midnightblue) 1;
}

.num span {
  background-image: linear-gradient(90deg, cyan, midnightblue);
}

.calculator {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  gap: 20px;
  aspect-ratio: 9/13;
  flex: none;
}

.display {
  height: 150px;
  display: flex;
  flex: none;
  font-family: pixel;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
}
.big {
  font-size: 70px;
}
.small {
  font-size: 36px;
}

.main-expression {
  margin: 0;
  background-image: linear-gradient(90deg, #a3a7b5, #ebecf2);
}
.display div {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.tmp-result {
  font-size: 50px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(90deg, #697088, #c0c4d1);
}

.pad {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: space-evenly;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex: auto;
  gap: 20px;
  height: 0;
}

.key {
  background-color: black;
  flex: auto;
  width: 0;
  font-size: 50px;
}

.clickable {
  cursor: pointer;
}

.operator {
  border: 2px solid #ce7f3b;
  border-image: linear-gradient(90deg, yellow, orangered) 1;
}

.operator span {
  background-color: #ce7f3b;
  background-image: linear-gradient(90deg, yellow, orangered);
}

.equal {
  border: 2px solid #ce7f3b;
  border-image: linear-gradient(90deg, mediumspringgreen, lime) 1;
}

.equal span {
  background-color: #147152;
  background-image: linear-gradient(90deg, mediumspringgreen, lime);
}

.clear {
  border: 2px solid #d1474c;
  border-image: linear-gradient(90deg, indianred, red) 1;
}

.clear span {
  background-color: #d1474c;
  background-image: linear-gradient(90deg, indianred, red);
}
